.card {
    border: 1px solid #eaeaea;
    margin: 2rem;
    text-align: center;
    text-decoration: wavy;
    border-radius: 20px;
    transition: color 1.30s ease, border-color 1.30s ease;
    max-width: 200px;
}

.card:hover,
.card:focus,
.card:active {
    color: aqua;
    border-color: aquamarine;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: rgb(39, 39, 39);
  }
  .code {
    background: rgb(31, 31, 31);
  }
  .logo img {
    filter: invert(1);
  }
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
     
  }

  .para {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px
    
  }